@page "/codigo"

<div class="login-container codigo">

    <h2 class="codigo-title">Verifique seu código</h2>

    <p class="codigo-text">
        Digite o código de 6 dígitos enviado para o e-mail:
    </p>

    <p class="codigo-email">@_email</p>

    <div class="codigo-inputs">
        <input maxlength="1" />
        <input maxlength="1" />
        <input maxlength="1" />
        <input maxlength="1" />
        <input maxlength="1" />
        <input maxlength="1" />
    </div>

    <button class="btn">Enviar Link</button>

    <p class="codigo-resend">
        Não recebeu o código? <span>Reenviar código</span>
    </p>

</div>