<div class="menu">
    <NavLink href="/dashboard" class="menu-item" ActiveClass="active">
        <img src="Icons/Analytics.svg" class="card-icon" />
    </NavLink>

    <NavLink href="/obras" class="menu-item" ActiveClass="active">
        <img src="Icons/Roadblock.svg" class="card-icon" />
    </NavLink>

    <NavLink href="/medicao" class="menu-item" ActiveClass="active">
        <img src="Icons/Wrench.svg" class="card-icon" />
    </NavLink>

    <NavLink href="/conferencia" class="menu-item" ActiveClass="active">
        <img src="Icons/Check Mark.svg" class="card-icon" />
    </NavLink>
</div>
