<nav class="menu" aria-label="Navegação principal">
    <NavLink href="/dashboard" class="menu-item" ActiveClass="active" title="Início">
        <img src="Icons/Analytics.svg" class="card-icon" alt="" />
    </NavLink>

    <NavLink href="/obras" class="menu-item" ActiveClass="active" title="Obras">
        <img src="Icons/Roadblock.svg" class="card-icon" alt="" />
    </NavLink>

    <NavLink href="/medicao" class="menu-item" ActiveClass="active" title="Medição">
        <img src="Icons/Wrench.svg" class="card-icon" alt="" />
    </NavLink>

    <NavLink href="/conta" class="menu-item" ActiveClass="active" title="Conta">
        <img src="Icons/Email.svg" class="card-icon" alt="" />
    </NavLink>
</nav>
