@page "/conferencia"

<h3>Conferencia</h3>

@code {

}






<!-- MENU -->
<div class="menu">

    <!-- Dashboard -->
    <NavLink href="/dashboard" class="menu-item" ActiveClass="active">
        <img src="Icons/Analytics.svg" class="card-icon" />
    </NavLink>

    <!-- Obras -->
    <NavLink href="/obras" class="menu-item" ActiveClass="active">
        <img src="Icons/Roadblock.svg" class="card-icon" />
    </NavLink>

    <!-- Medição -->
    <NavLink href="/medicao" class="menu-item" ActiveClass="active">
        <img src="Icons/Wrench.svg" class="card-icon" />
    </NavLink>

    <!-- Conferência -->
    <NavLink href="/conferencia" class="menu-item" ActiveClass="active">
        <img src="Icons/Check Mark.svg" class="card-icon" />
    </NavLink>

</div>
