@page "/dashboard"

<div class="dashboard">

    <!-- TOPO -->
    <div class="dash-header">
        <div class="dash-title">
            <h1>Dashboard</h1>
            <p>Visão geral das obras</p>
        </div>

        <div class="user">
            <img src="https://i.pravatar.cc/100" />
            <span>Ryan Bryan - Gerente</span>
        </div>
    </div>

    <!-- CARDS -->
    <div class="cards">

        <div class="card blue">
            <div class="card-top">
                <img src="Icons/Bill.svg" class="card-icon" />
            </div>
            <h2>12</h2>
            <div class="line"></div>
            <p>Total de obras</p>
        </div>

        <div class="card yellow">
            <div class="card-top">
                <img src="Icons/Services.svg" class="card-icon" />
            </div>
            <h2>7</h2>
            <div class="line"></div>
            <p>Em produção</p>
        </div>

        <div class="card red">
            <div class="card-top">
                <img src="Icons/Medium Risk.svg" class="card-icon" />
            </div>
            <h2>3</h2>
            <div class="line"></div>
            <p>Atrasadas</p>
        </div>

        <div class="card green">
            <div class="card-top">
                <img src="Icons/Check Mark.svg" class="card-icon" />
            </div>
            <h2>4</h2>
            <div class="line"></div>
            <p>Finalizadas</p>
        </div>

    </div>

    <!-- META -->
    <div class="meta">
        <p>Meta Mensal</p>
        <h3>10 / 32.200,00Kg</h3>
        <div class="barra">
            <div class="progresso"></div>
        </div>
    </div>


    <!-- ALERTAS -->

    <div class="alertas">

        <div class="alertas-header">
            <span>Alertas</span>
            <span>›</span>
        </div>

        <div class="alerta-item">
            <span class="bolinha red"></span>
            <span class="texto">#345 - Residência Vila Verde - Entrega 04/04/2026</span>
            <span class="status red">ATRASADO</span>
        </div>

        <div class="alerta-item">
            <span class="bolinha yellow"></span>
            <span class="texto">#248 - Edifício Barnabé - Entrega 12/04/2026</span>
            <span class="status yellow">ENTREGA PRÓXIMA</span>
        </div>

        <div class="alerta-item">
            <span class="bolinha yellow"></span>
            <span class="texto">#248 - Edificíl  Legal - Entrega 18/04/2026</span>
            <span class="status yellow">ENTREGA PRÓXIMA</span>
        </div>
    </div>


    <!-- OBRAS -->
    <div class="obras">

        <div class="obras-header">
            <span>Obras</span>
            <span>›</span>
        </div>

        <div class="obra-item">

            <div class="obra-linha">
                <span class="obra-nome">#248 - Edifício Barnabé</span>
                <span class="tag yellow">Em produção</span>
            </div>

            <div class="barra">
                <div class="progresso yellow"></div>
            </div>

        </div>


        <div class="obra-item">

            <div class="obra-linha">
                <span class="obra-nome">#345 - Residência Vila Verde</span>
                <span class="tag red">Atrasada</span>
            </div>

            <div class="barra">
                <div class="progresso red"></div>
            </div>

        </div>

        <div class="obra-item">

            <div class="obra-linha">
                <span class="obra-nome">#231 - Edifício Oba</span>
                <span class="tag green">Concluído</span>
            </div>

            <div class="barra">
                <div class="progresso green"></div>
            </div>

        </div>
    </div>


    <!-- MENU -->

    <div class="menu">

        <div class="menu-item active">
            <img src="Icons/Analytics.svg" class="card-icon" />
        </div>

        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>

    </div>



</div>




