@page "/obras"

<div class="lista-container">

    <!-- HEADER -->
    <div class="dash-header">
        <div class="dash-title">
            <h1>Lista de Obras</h1>
            <p>Obras sendo executadas</p>
        </div>

        <div class="user">
            <img src="https://i.pravatar.cc/100" />
            <span>Ryan Bryan - Gerente</span>
        </div>
    </div>

    <!-- BUSCA -->
    <div class="busca">
        <img src="Icons/Search.svg" class="busca-icon" />
        <input type="text" placeholder="Buscar por obra ou cliente..." />
    </div>



    <!-- FILTROS -->
    <div class="filtros-container">
        <div class="filtros">

            <div class="filtro ativo">Todas</div>
            <div class="filtro red">Atrasadas</div>
            <div class="filtro yellow">Em Produção</div>
            <div class="filtro green">Concluídas</div>

        </div>
    </div>




    <!-- CARDS -->
    <div class="obra-card red">

        <!-- TOPO -->
        <div class="topo">
            <span class="titulo">#035 - Residência Vila Verde</span>

            <div class="status">
                <span class="pill">Atrasado</span>
                <small>04/04/2026</small>
            </div>
        </div>

        <!-- LINHA -->
        <div class="divider"></div>

        <!-- MEDIÇÃO -->
        <div class="linha-info">
            <span>Medição</span>
        </div>

        <div class="barra-linha">
            <div class="barra">
                <div class="progresso medicao"></div>
            </div>
            <span class="percent">100%</span>
        </div>

        <!-- PRODUÇÃO -->
        <div class="linha-info">
            <span>Produção</span>
        </div>

        <div class="barra-linha">
            <div class="barra">
                <div class="progresso producao"></div>
            </div>
            <span class="percent">70%</span>
        </div>

        <!-- BOTÃO -->
        <div class="acoes">
            <button>Detalhes</button>
        </div>

    </div>


   









    <!-- MENU -->

    <div class="menu">

        <div class="menu-obras"></div>

        <div class="menu-obras active">
            <img src="Icons/Roadblock.svg" class="card-icon" />
        </div>

        <div class="menu-obras"></div>
        <div class="menu-obras"></div>

    </div>



</div>


