@page "/login"

<div class="login-container">
    
    <h1 class="logo">SIGE</h1>
    <p class="subtitle">Sistema Integrado de Gerenciamento</p>

    <h3 class="welcome">Bem-vindo</h3>

    <div class="input-group">
        <img src="icons/email.svg" class="icon-img" />
        <input type="text" placeholder="Email" class="input" />
    </div>

    <div class="input-group">
        <img src="icons/lock.svg" class="icon-img" />
        <input type="password" placeholder="Senha" class="input" />
    </div>

    <button class="btn">ENTRAR</button>

    <p class="link">Esqueceu a senha?</p>

    <p class="version">
        Versão 1.0.0 <br/>
        © 2026 Sistema de Esquadrias. Todos os direitos reservados.
    </p>

</div>