html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* ← REMOVE TODA ROLAGEM */
}
/* ===== LOGIN ===== */

.login-container {
    background-color: #010813;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 25px 20px;
    color: #FFFFFF;
    font-family: 'Anek Bangla', sans-serif;
}
/* LOGO */

.logo {
    font-family: 'Bungee', cursive;
    font-size: 52px;
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 0px;
}
/* SUBTITULO */

.subtitle {
    text-align: center;
    font-size: 13px;
    color: #9aa0a6;
    margin-bottom: 10px;
}
/* BEM VINDO */

.welcome {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
}
/* INPUT */

.input-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 30px;
}

.input-group:first-of-type {
    margin-top: 50px;
}

.input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    padding: 12px 0;
    outline: none;
}
/* ÍCONE */

.icon-img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
    filter: brightness(0) invert(1);
}
/* BOTÃO */

.btn {
    width: 100%;
    background-color: #0C147B;
    border: none;
    padding: 16px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
/* LINK */

.link {
    text-align: center;
    margin-top: 18px;
    color: #42FFFC;
    font-size: 13px;
}
/* RODAPÉ */

.version {
    text-align: center;
    font-size: 11px;
    margin-top: 50px;
    color: #888;
    line-height: 1.6;
    margin-top: 180px;
}
/* ===== RECUPERAR SENHA (ISOLADO) ===== */

.recuperar {
    justify-content: flex-start; /* ← sobe tudo */
    padding-top: 60px; /* ← controla a altura */
}

    .recuperar .description {
        text-align: center;
        font-size: 14px;
        color: #cfcfcf;
        margin: 25px auto 35px;
        max-width: 260px;
        line-height: 1.6;
    }

    .recuperar .input-group {
        margin-bottom: 30px;
    }

    .recuperar .btn {
        margin-top: 5px;
    }

    .recuperar .link {
        margin-top: 20px;
    }

    .recuperar .version {
        margin-top: 180px;
    }
/* ===== CODIGO ===== */

.codigo {
    justify-content: flex-start;
    padding-top:190px;
    align-items: center;
    text-align: center;
}
/* TITULO */

.codigo-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}
/* TEXTO */

.codigo-text {
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 10px;
}
/* EMAIL */

.codigo-email {
    font-weight: 600;
    margin-bottom: 30px;
}
/* INPUTS */

.codigo-inputs {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 35px;
}

    .codigo-inputs input {
        width: 38px;
        height: 38px;
        background: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 6px;
        text-align: center;
        color: white;
        font-size: 18px;
    }
/* BOTÃO */

.codigo .btn {
    width: 100%;
    max-width: 280px;
    margin-bottom: 20px;
}
/* REENVIAR */

.codigo-resend {
    font-size: 13px;
    color: #cfcfcf;
}

    .codigo-resend span {
        color: #42FFFC;
        font-weight: 500;
    }







/* ===== DASHBOARD ===== */

.dashboard {
    background-color: #010813;
    min-height: 100vh;
    padding: 50px 20px 20px;
    color: white;
    font-family: 'Anek Bangla', sans-serif;
}
/* HEADER */

.dash-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

    .dash-header h1 {
        font-size: 30px;
    }

    .dash-header p {
        font-size: 15px;
        color: #888;
    }

.dash-title {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

    .dash-title h1 {
        margin: 0;
        line-height: 1.1;
    }

    .dash-title p {
        margin: 0;
    }

.user {
    display: flex;
    flex-direction: column; /* ← JOGA PRA BAIXO */
    align-items: center;
    text-align: center;
}

    .user img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 6px; /* espaço entre foto e nome */
    }
/* CARDS */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 15px;
}

    /* AZUL */

.card.blue {
    background: linear-gradient( 135deg, rgba(6, 20, 41, 0.4) 26%, rgba(19, 69, 143, 0.4) 80% );
}

/* AMARELO */
.card.yellow {
    background: linear-gradient( 135deg, rgba(66, 50, 12, 0.4) 26%, rgba(137, 99, 12, 0.4) 80% );
}

/* VERMELHO */
.card.red {
    background: linear-gradient( 135deg, rgba(52, 15, 15, 0.4) 26%, rgba(96, 48, 48, 0.4) 80% );
}

/* VERDE */
.card.green {
    background: linear-gradient( 135deg, rgba(8, 27, 17, 0.4) 26%, rgba(43, 78, 59, 0.4) 80% );
}
    /* TEXTO */

    .card h2 {
        font-size: 10px;
        margin-bottom: 4px;
    }

    .card p {
        font-size: 11px;
        color: #cfcfcf;
    }

.card {
    width: 70px;
    height: 78px;
    padding: 10px;
    border-radius: 14px;
    color: white;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* TOPO (ÍCONE) */

.card-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icon {
    font-size: 20px;
}
/* NÚMERO */

.card h2 {
    font-size: 20px;
    margin: 0px 0 2px;
}
/* LINHA */

.line {
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    flex-shrink: 0; /* ← ISSO RESOLVE */
}
/* TEXTO */

.card p {
    font-size: 10px;
    color: #cfcfcf;
}
/* META */

.meta {
    background: linear-gradient(135deg, #000000 26%, #13458F 100%);
    width: 98%;
    height: 78px;
    padding: 12px;
    border-radius: 12px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .meta p {
        font-size: 12px;
        color: #cfcfcf;
        margin: 0;
    }

    .meta h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 4px 0 0;
    }

    /* META */
    .meta .barra {
        height: 6px;
        background: #333;
        border-radius: 10px;
        margin-top: 10px;
        width: 100%;
    }


/* OBRAS */

.obras {
    width: 98% !important;
    margin: 15px auto 0;
}

.obras .barra {
    width: 50%;
    height: 4px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin-top: 6px;
}

.progresso {
    width: 10%;
    height: 100%;
    background: rgba(72, 116, 44, 0.5);
    border-radius: 10px;
}

.card-top {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.card-icon {
    width: 19px;
    height: 19px;
}


/*ALERTAS*/


.alertas {
    background: linear-gradient(135deg, #000000 26%, #13458F 100%);
    width: 98%; /* ← igual ao meta */
    border-radius: 12px;
    margin: 15px auto 0; /* ← centraliza igual */
    padding: 12px;
    height: auto;
}

.alertas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

/* ITEM */
.alerta-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    font-size: 12px;
    color: #cfcfcf;
}

/* BOLINHA */
.bolinha {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

    /* CORES BOLINHA */
    .bolinha.red {
        background: #EB3223;
    }

    .bolinha.yellow {
        background: #EBC351;
    }

/* TEXTO */
.alerta-item .texto {
    flex: 1;
}

/* STATUS */
.status {
    font-size: 12px;
    font-weight: 500;
}

    /* CORES STATUS */
    .status.red {
        color: #EB3223;
    }

    .status.yellow {
        color: #EBC351;
    }

/* LINHA SEPARADORA */
.alerta-item + .alerta-item {
    border-top: 1px solid rgba(255,255,255,0.06);
    padding-top: 8px;
}



/* OBRAS */
.obras {
    background: linear-gradient(135deg, #000000 26%, #13458F 100%);
    width: 368px;
    border-radius: 12px;
    margin: 15px auto 0;
    padding: 12px;
}

.obras-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.obra-item {
    margin-top: 12px;
}

.obra-item + .obra-item {
     border-top: 1px solid rgba(255,255,255,0.06);
     padding-top: 10px;
}

.obra-linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.obra-nome {
    font-size: 12px;
    color: #cfcfcf;
}

.tag {
    width: 90px;
    height: 18px;
    font-size: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .tag.yellow {
        background: rgba(235, 195, 81, 0.5);
    }

.barra {
    width: 40%;
    height: 4px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin-top: 6px;
}

.progresso.yellow {
    width: 60%;
    height: 100%;
    background: rgba(235, 195, 81, 0.5);
    border-radius: 10px;
}



/* TAGS */
.tag.red {
    background: rgba(234, 50, 35, 0.5);
}

.tag.green {
    background: rgba(72, 116, 44, 0.5);
}

/* PROGRESSO */
.progresso.red {
    width: 40%;
    height: 100%;
    background: rgba(234, 50, 35, 0.5);
    border-radius: 10px;
}

.progresso.green {
    width: 100%;
    height: 100%;
    background: rgba(72, 116, 44, 0.5);
    border-radius: 10px;
}


/* MENU */
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0 25px;
    /* GRADIENTE IGUAL FIGMA */
    background: radial-gradient( ellipse at center bottom, #081E3E 0%, #000000 70% );
}

/* ITENS */
.menu-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255,255,255,0.08);
}

    /* ATIVO */
    .menu-item.active {
        background: transparent;
        border: 2px solid rgba(255,255,255,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ÍCONE */
    .menu-item img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
    }




/* OBRAS */
.lista-container {
    background-color: #010813;
    min-height: 100vh;
    padding: 50px 20px 80px;
    color: white;
    font-family: 'Anek Bangla', sans-serif;
}

/* BUSCA */
.busca input {
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: white;
    outline: none;
}

.busca {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255,255,255,0.1);
    padding: 10px 12px;
    border-radius: 10px;
}

    .busca input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
        width: 100%;
    }

.busca-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}





/*FILTROS*/


.filtros {
    display: flex;
    gap: 8px;
    width: 100%;
}

/* BASE */
.filtro {
    flex: 1;
    text-align: center;
    padding: 1px 1px;
    border-radius: 11px;
    font-size: 12px;
    color: white;
    border: 1px solid rgba(255,255,255,0.2);
}

/* ATIVO */
.filtro.ativo {
    background: rgba(255,255,255,0.1);
}

/* CORES */
.filtro.red {
    border: 1px solid rgba(234, 50, 35, 0.6);
}

.filtro.yellow {
    border: 1px solid rgba(235, 195, 81, 0.6);
}

.filtro.green {
    border: 1px solid rgba(72, 116, 44, 0.6);
}

.filtros-container {
    margin-top: 12px;
}








/* CARD */
.obra-card {
    background: linear-gradient(135deg, #000000 26%, #13458F 100%);
    border-radius: 18px;
    padding: 14px;
    margin-top: 15px;
    position: relative;
    border: 1px solid rgba(255,255,255);
}

    /* BORDA ESQUERDA */
    .obra-card.red::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 13px; /* ← mais larga */

        background: #EA3223;
        border-radius: 18px 0 0 18px; /* ← acompanha o card */
    }

/* TOPO */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.titulo {
    font-size: 15px;
    font-weight: 60;
    margin: 0;
}

/* STATUS */
.status {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* ← ALINHA DIREITA */
    justify-content: center; /* ← CENTRALIZA VERTICAL */
}

.pill {
    background: #EA3223;
    color: white;
    font-size: 12px;
    padding: 1px 18px;
    border-radius: 12px;
}

.status small {
    display: block;
    color: #EA3223;
    margin-top: 1px;
    font-size: 11px;
}


/* LINHA */
.divider {
    height: 1px;
    width: 50%;
    background: rgba(255,255,255,0.3);
    margin: 0;
}

/* TEXTO */
.linha-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 1px;
}

/* BARRA */
.barra {
    height: 6px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin-top: 1px;
    width: 40%;
}

/* PROGRESSOS */
.progresso {
    height: 100%;
    border-radius: 10px;
}


.barra-linha {
    display: flex;
    align-items: center;
    gap: 8px;
}

.percent {
    font-size: 12px;
}



.medicao {
    width: 100%;
    background: #48742C;
}

.producao {
    width: 70%;
    background: #EA3223;
}

/* BOTÃO */
.acoes {
    position: absolute;
    right: 14px;
    bottom: 22px; /* ← AJUSTE FINO */
}

    .acoes button {
        background: rgba(255,255,255,0.08);
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 10px;
        padding: 6px 14px;
        color: white;
    }


/* BASE */
.menu-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.08);
    opacity: 0.5; /* ← apagado */
    transition: all 0.3s ease;
}

    /* ATIVO */
    .menu-item.active {
        opacity: 1;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.6);
        transform: scale(1.15); /* ← fica maior */
    }

    /* ÍCONE */
    .menu-item img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
    }





























































/* MENU */
.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 1px 25px; 

    background: radial-gradient( ellipse at center bottom, #081E3E 0%, #000000 70% );
}

/* obras */
.menu-obras {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255,255,255,0.08);
}

    /* ATIVO */
    .menu-obras.active {
        background: transparent;
        border: 2px solid rgba(255,255,255,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ÍCONE */
    .menu-obras img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
    }



